*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("src/bgc4.gif");
    background-size: 100% 100%;
}


.title{
    border-bottom: 2px white solid;
    font-size: 50px;
    color: #611f86;
    margin-left: 8%;

}

.sideBar{
    background-color: #1b2a40;
    width: 8%;
    height: 690px;
    float: left;
    margin-top: -5.3%;
    position: fixed;
}



.sideBarButton{
    width: 60px;
    height: 50px;
    margin: 20px 20px;
    cursor: pointer;
    background-size: 100% 100%;
}

.sideBarButton:hover {
    box-shadow: 0 16px 32px 0 rgba(48, 55, 66, 0.15);
    transform: translate(0,-5px);
    transition-delay: 0s !important;
}

.home{
    background-image: url("src/home.png");
}
.add{
    background-image: url("src/plus.png");
}
.person{
    background-image: url("src/person.png");
}
.light{
    background-image: url("src/light.png");
}
.exit{
    background-image: url("src/exit.png");
}

.friend{
    background-image: url("src/friendBar.jpeg");
    background-size: 100% 100%;
    width: 85%;
    height: 135px;
    margin: 30px 12%;
    border-radius: 10px;
}

.addFriend{
    background-color: rgba(89,102,114,0.5);
    width: 85%;
    height: 135px;
    margin: 30px 12%;
    border-radius: 10px;
}

.addFri{
    width: 80px;
    height: 80px;
    cursor: pointer;
    margin-left: 45%;
    margin-top: 2%;

}


.profilePic{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: white;
    margin: 22px 2%;
    float: left;
}
.intimacy{
    margin-left: -50px;
    margin-top: 6%;
    width: 185px;
    height: 45px;
    accent-color: #2ecc71;
    float: left;
}

.name{
    width: 40px;
    height: 20px;
    font-size: 30px;
    padding-top: 2%;
    float: left;
}

.container {
    height: 70px;
    width: 800px;
    margin: 100px auto 0 auto;
}

.parent {
    margin-top: -20%;
    margin-left: 77%;
    position: relative;
}
.search {
    background-color: #f3f3f3;
    width: 300px;
    height: 40px;
    border-radius: 18px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 20px;
    position: absolute;
}
.btn {
    height: 35px;
    width: 40px;
    position: absolute;
    background: url("src/search.png");
    top: 5px;
    left: 270px;
    border: none;
    outline: none;
    cursor: pointer;
    background-size: 100% 100%;
}
.intimacy_1{
    margin-left: 45%;
    width: 200px;
    height: 45px;
    accent-color: #2ecc71;
    display: block;
}

.first{
    padding-top: 10px;
}
.text{
    font-size: 20px;
    float: left;
    margin-left: 10%;
    line-height: 48px;
}


.dropbtn {
    background-color: #4CAF50;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-top: -1.5px;
    display: none;
    position: absolute;
    background-color: #596672;
    border: 1px #4CAF50 solid ;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.show {display:block;}
