*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #2D3f51;
}

.profile{
    border-bottom: 2px white solid;
    font-size: 50px;
    color: #FF6868;
    margin-left: 8%;
}

.sideBar{
    background-color: #1b2a40;
    width: 8%;
    height: 750px;
    float: left;
    position: fixed;
}

.sideBarButton:hover {
    box-shadow: 0 16px 32px 0 rgba(48, 55, 66, 0.15);
    transform: translate(0,-5px);
    transition-delay: 0s !important;
}

.title{
    font-size: 50px;
    color: #FF6868;
    margin-left: 10%;
    margin-top: 1%;
}

.sideBarButton{
    width: 60px;
    height: 50px;
    margin: 20px 20px;
    cursor: pointer;
    background-size: 100% 100%;
}
.home{
    background-image: url("src/home.png");
}
.add{
    background-image: url("src/plus.png");
}
.person{
    background-image: url("src/person.png");
}
.light{
    background-image: url("src/light.png");
}
.exit{
    background-image: url("src/exit.png");
}


.darkBox{

    margin-left: 15%;
    width: 45%;

}

.signupFrm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    margin-top: -12%;
    margin-left: 15%;
    background-color: #596672;
    width: 600px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.title {
    font-size: 30px;
    margin-bottom: 50px;
    color: #2ecc71;
}

.inputContainer {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
}

.input {
    position: absolute;
    height: 100%;
    width: 450px;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
}
input:-webkit-autofill {
    box-shadow: 0 0 0 1000px #596672 inset;
    -webkit-text-fill-color: black;
}

.label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: #596672;
    color: #DADCE0;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
}

::placeholder {
    color: transparent;
}

.submitBtn {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: #2ecc71;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.submitBtn:hover {
    background-color: #2ecc71;
    transform: translateY(-2px);
}
.input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: #2ecc71;
}

.input:not(:placeholder-shown)+ .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
}

.input:focus {
    border: 2px solid #2ecc71;
}

.Img{
    width: 250px;
    height: 250px;
    background-image: url("src/proPic3.jpeg");
    background-size: 100% 100%;
    border-radius: 50%;
    margin-top: -44%;
    margin-left: 10%;
}

.imageUpload{
    width: 70px;
    height: 30px;
    margin-left: 16%;
    margin-top: 2%;
}


.submitBtn {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: #2ecc71;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.submitBtn:hover {
    background-color: #2ecc71;
    transform: translateY(-2px);
}
