*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("src/images.jpeg");
    background-size: 100% 100%;
}

.darkBox{
    background-color: #2D3f51;
    width: 30%;
    height: 1000px;

}

.logo{
    width: 27%;
    height: 44%;
    margin-right: 22%;
    margin-top: 13%;
    border-radius: 10%;
    float: right;
    display: flex;

}
.message{
    padding-top: 35%;
    text-align: center;
    font-size:30px;
    color: #FF6868;
}

input[type="text"], input[type="password"]{
    border-radius: 15px;
    border: 2px solid grey;
    background: white;
    display: block;
    margin: 10px auto;
    text-align: center;
    padding: 14px 10px;
    width: 250px;
    outline: none;
    color: #FF6868;
    transition: 0.25s;
}
/* 设置文本框获得焦点时的样式 */
input[type="text"]:focus, input[type="password"]:focus{
    width: 280px;
    border-color: grey;
    background-color: white;

}

.button{

    width: 150px;
    border-radius: 5px;
    border: 2px solid #2ecc71;
    display: block;
    margin: 10px auto;
    text-align: center;
    padding: 8px 40px;
    color: white;     /* 设置输入框中竖线的颜色 */
    transition: 0.25s;
    cursor: pointer;    /* 设置光标的样式 */
}
.button:hover{
    background: #2ecc71;
}

.forget{
    text-decoration: none;
    color: #2ecc71;
    text-align: center;
    font-size: 10px;
}
.google{
    border-radius: 10px;
    width: 100px;
    height: 40px;
    margin: 0 auto;
    background-color: white;
    display: block;
}
.googleImg{
    width: 40px;
    height: 40px;
    padding-left: 30px;
}

