*{
    margin: 0;
    padding: 0;
}

.darkBox{
    background-color: #2D3f51;
    width: 60%;
    height: 760px;
    margin-left: 40%;
}

.logo{
    width: 27%;
    height: 44%;
    margin-left: 6%;
    margin-top: 13%;
    border-radius: 10%;
    float: left;
    display: flex;
}
.message{
    padding-top: 23%;
    text-align: center;
    font-size:30px;
    color: #FF6868;
}

input[type="text"], input[type="password"]{
    border-radius: 20px;
    border: 2px solid #FF6868;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 10px;
    width: 250px;
    outline: none;
    color: #FF6868;
    transition: 0.25s;
}
/* 设置文本框获得焦点时的样式 */
input[type="text"]:focus, input[type="password"]:focus{
    width: 280px;
    border-color: #FF6868;
    background-color: white;

}

.button{
    width: 100px;
    border-radius: 20px;
    border: 2px solid #2ecc71;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 12px 40px;
    outline: none;
    color: white;     /* 设置输入框中竖线的颜色 */
    transition: 0.25s;
    cursor: pointer;    /* 设置光标的样式 */
}
.button:hover{
    background: #2ecc71;
}
