*{
    margin: 0;
    padding: 0;
}
body{

    background-image: url("src/bgc4.gif");
    background-size: 100% 130%;
}

.profile{
    border-bottom: 2px white solid;
    font-size: 50px;
    color: #611f86;
    margin-left: 8%;
}

.sideBar{
    background-color: rgba(27, 42, 64);
    width: 8%;
    height: 820px;
    float: left;
    position: fixed;
}
.title{
    font-size: 50px;
    color: #e56b6f;
    margin-left: 10%;
    margin-top: 1%;
}

.sideBarButton{
    width: 60px;
    height: 50px;
    margin: 20px 20px;
    cursor: pointer;
    background-size: 100% 100%;
}
.home{
    background-image: url("src/home.png");
}
.add{
    background-image: url("src/plus.png");
}
.person{
    background-image: url("src/person.png");
}
.light{
    background-image: url("src/light.png");
}
.exit{
    background-image: url("src/exit.png");
}

.profilePic{
    margin-top: 2%;
    margin-left: 10%;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: 100% 100%;

}

.editBtn{

    margin-right: 5%;
    margin-top: -5%;
    background: rgba(0,0,0,0);
    border-style: none;
    cursor: pointer;
    float: right;
}

.profileInfo{
    width: 800px;
    height: 500px;
    margin-left: 35%;
    margin-top: -19%;
    background-color: rgba(89,102,114,0.5);
    border-radius: 1%;

}

.blockStyle{
    border-top: #e56b6f 1px solid;
    color: #e56b6f;
    height: 150px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.SD{
    width: 400px;
    margin-left: 30px;

}
.about{
    width: 300px;
    margin-left: 90px;
    height: 240px;

}
.personality{
    width: 200px;
    float: right;
    margin-top: -52.4%;
    margin-right:13%;
}
.per{
    float: right;
    margin-top: -56%;
    margin-right: 25%;
}

.subTitle{
    margin-left: 30px;
    color: white;
    font-size: 20px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.AB{
    width: 70px;
    padding-top: 27px;
    margin-left: 88px;

}

.name{
    font-size: 40px;
    color: #e56b6f;
    margin-left: 12%;
    margin-top: 2%;
    float: left;
}

.pie{
    width: 250px;
    height: 350px;
    margin: 0 auto;
}

.titleInfo{
    text-align: left;
}
.info{
    text-align: right;
}

.img{
    width: 40px;
    height: 40px;
    float: left;
}
.age{
    margin-top: -26%;
    margin-left: -5%;
}

.income{
    margin-top: -21%;
    margin-left: 3%;
}

.email{
    margin-top: -15%;
    margin-left: -5%;
}
.phone{
    margin-top: -9%;
    margin-left: 3%;
}
.friend{
    margin-top: -4%;
    margin-left: 3%;
}

